html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
text-shadow: 2px 2px 4px red;

}


h2{
font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
    text-shadow: 2px 2px 4px red;

} 
    

h3{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
text-shadow: 2px 2px 4px red;
}

.tagline{
    font-style: oblique;
    font-size: 1.2em;
    color: orangered;
    text-align: right;
    padding: 0;
    transform: skew(-15deg);
}

.cast-header {   
  text-align: right;         
  list-style-type: none;   
  padding: 0;    
  margin: 0;            
  color: #8080ff;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px #A42821;
}

.starring li {
  font-weight: bold;       
  margin-bottom: 0;   
  font-size: 1.2em;        
  text-align: right; 
  color: #8080ff;
  list-style-type: none;
  text-shadow: 2px 2px 4px #A42821;


}


h4{
font-size:2em;
text-align: left;
color: #5757ff;
text-shadow: 2px 2px 4px #A42821;
}

h4 + li{
 text-align: left;
 color: #5757ff;
}

.image-row {
  display: flex;
  justify-content: left;     
  gap: 20px;                   
  margin: 1cm 0;
  width: 10px;
  height: auto;
  object-fit: contain;
}

figcaption {
    color: silver;
    text-align: left;
}

.bottom-row {
width: 50px;
display: block;
height: auto;
margin: 10px;
}

h5{
text-shadow: 2px 2px 4px #A42821;
font-size: 20px;
color: cyan; 
text-align: left;
}

h5 + p{
font-size: 15px;
font-weight: bolder;
text-align: left;
}

a{
color: yellow;

}

h6{
text-shadow: 2px 2px 4px #A42821;
text-align: center;
color: orange;
line-height: 2px;
font-size: 30px;
}

h6 + p{
color: yellow;
font-size:15px;
font-weight: bold;
text-shadow: 2px 1.5px 2px #A42821;


}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}


small{
    color: #FFD700;
    font-style: oblique;
    font-size: 20px;
    text-shadow: 2px 2px 4px blue;
}
