html {
background-image: url("../images/BTTF30.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 1px;
text-shadow: 2px 2px 4px red;
   font-size: 1em;

}


h2{
font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
    text-shadow: 2px 2px 4px red;

} 
    

h3{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
text-shadow: 2px 2px 4px red;
}

.tagline{
    font-style: oblique;
    font-size: 1.2em;
    color: yellow;
    text-align: right;
    padding: 0;
    transform: skew(-15deg);
}

.cast-header {   
  text-align: left;         
  list-style-type: none;   
  padding: 0;    
  margin: 0;            
  color: #8080ff;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px #A42821;
}

.starring li {
  font-weight: bold;       
  margin-bottom: 0;   
  font-size: 1.5em;        
  text-align: left; 
  color: #8080ff;
  list-style-type: none;
  text-shadow: 2px 2px 4px #A42821;
}


h4{
font-size:2em;
text-align: left;
color: #5757ff;
text-shadow: 2px 2px 4px #A42821;
}

h4 + li{
 text-align: left;
 color: #5757ff;
}

.image {
 display: flex;
 flex-direction: column;
 align-items: left;                  
 margin: 1cm 0;
}

.flux-img {
    width: 100px;
}

figcaption {
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(101, 8, 8);
    font-style: italic;
    margin-left: 20px;
    max-width: 300px;
}


h5{
text-shadow: 2px 2px 4px #A42821;
font-size: 20px;
color: cyan; 
text-align: left;
}

h5 + p{
font-size: 15px;
font-weight: bolder;
text-align: left;
}

a:hover {
background-color: white;
color: #8080ff;


}

h6{
text-shadow: 2px 2px 4px yellow;
text-align: center;
color: orange;
line-height: 2px;
font-size: 30px;
}

h6 + p{
color: yellow;
font-size:15px;
font-weight: bold;
text-shadow: 2px 1.5px 2px #A42821;


}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}


small{
    color: #FFD700;
    font-style: oblique;
    font-size: 20px;
    text-shadow: 2px 2px 4px blue;
}
