html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}


h2{
font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
}

h3{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}

.tagline{
    font-style: italic;
    font-size: 1.2em;
    color: orangered;
    text-align: right;
}

.starring {
  text-align: right;            
  list-style-type: none;   
  padding: 0;              
  margin: 0;  
  color: #8080ff;
  font-weight: bold;
  font-size: 1.2em;
}

.starring li {
  font-weight: bold;       
  margin-bottom: 0.5em;   
  font-size: 1.2em;        
  text-align: right; 
  display: flex;
  align-items: flex-start;     
}

.cast-heading{
    color: #8080ff;
    font-size: 1.5em;
    margin-top: o.2em;
}

h4{
text-align: left;
color: #5757ff;
}

h4 + li{
 text-align: left;
 color: #5757ff;
}

h5{
    font-size: 20px;
color: cyan; 
}

h5 + p{
font-size: 20px;
font-weight: bolder;
}

h6{
transform: ;
text-align: center;
color: orange;
line-height: 2px;
font-size: 20px;
}

h6 + p{
color: #A42821;

}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.flux-img {
width: 150px;
display: block;
height: auto;
margin: 10px;
}

figcaption {
    color: silver;
    text-align: left;
}
small{
    color: #FFD700;
    font-style: oblique;
}