html {
   background-image: url("../images/BTTF30words.jpg");
   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
    font-size: 3em;
    color: #FFD700;
}

.tagline{
    font-style: italic;
    font-size: 1.2em;
}

section{
    margin: 20px auto;
    width: 80%;
    background_color: rgba(0, 0, 0 ,0.6);
    padding: 10px;
    border-radius: 10px;
}