html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}


h2{
font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
}

.starring {
  list-style-type: none;   
  padding: 0;              
  margin: 0;              
}

.starring li {
  font-weight: bold;       
  margin-bottom: 0.5em;   
  font-size: 1.2em;        
  text-align: center;      
}


h3{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}

.tagline{
    font-style: italic;
    font-size: 1.2em;
    color: orangered;
    text-align: right;
}


h4 + p{
 text-align: left;
}

h4{

}

h5{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}

h6{

}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

fluxcapacitor-image {
width: 50%;
max-width: 400px;
height: 10%;
}

figcaption {
    color: #2424ff;
}
small{
    color: #FFD700;
    font-style: oblique;
}