html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}


h2{
font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
}

h3{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}

.tagline{
    font-style: italic;
    font-size: 1.2em;
    color: orangered;
    text-align: right;
}

.starring {
  text-align: right;            
  list-style-type: none;   
  padding: 0;              
  margin: 0;  
}

.starring li {
  font-weight: bold;       
  margin-bottom: 0.5em;   
  font-size: 1.2em;        
  text-align: right;      
}

h4{
text-align: left;
color: #5757ff;
}

h4 + li{
 text-align: left;
 color: #5757ff;
}

h5{
transform: ;
text-align: center;
color: orange;
line-height: 2px;
font-size: 40px;
}

h6{
font-size: 20px;
color: #8080ff; 
}

h6 + p{
font-size: 20px;
font-weight: bolder;
}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

fluxcapacitor-image {
width: 10%;
max-width: 40px;
height: 10px;
}

figcaption {
    color: #2424ff;
}
small{
    color: #FFD700;
    font-style: oblique;
}