html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
    font-size: 3em;
    color: #FFD700;
    transform: skew(35deg);
    text-align: left;
}


h2{
font-style: arial;
font-size: 1.5em;
color: #5252ff;
text-align: right;
}

ul{
font-style: Helvetica;
font-size: 1.5em;
color: #5252ff;
text-align: right;
line-height: 2px;
}

h3{
text-shadow: 5em;
color: red;
}

h4{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}

h5{
transform: skew(30deg);
text-align: left;
color:#FFD700;
line-height: 2px;
}


.tagline{
    font-style: italic;
    font-size: 1.2em;
    color: orangered;
    text-align: right;
}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

image {

}

figcaption {
    color: ;
}
small{
    color: #FFD700;
    font-style: oblique;
}