html {
background-image: url("../images/BTTF30words.jpg");   background-size: cover;
   font-family:'Arial', sans-serif;
   color: white;
   text-align: center;
   line-height: 1.6;
}

h1{
    font-size: 3em;
    color: #FFD700;
    transform: skew(30deg);
    text-align: left;
}

h2{

}

h3{

}

h4{

}

h5{

}


.tagline{
    font-style: italic;
    font-size: 1.2em;
}

section{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}